@using ViewModel.Models;
@using ViewModel.ModelsView;
@model NhaHangVM;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tạo nhà hàng";
    NguoiDung user = ViewData["user"] as NguoiDung;
}
<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
<div class="container-xxl px-4 mt-4">
    <a href="/restaurant"><button type="button" class="btn btn-primary mb-3">Quay lại</button></a>
    <hr class="mt-0 mb-4">
    <div class="">
        <div class="card mb-4">
            <div class="card-header">Chi tiết nhà hàng</div>
            <div class="card-body">
                <form asp-action="CreateNhaHang" asp-controller="Restaurant" method="post" enctype="multipart/form-data">
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1">Ảnh đại diện</label>
                            <input asp-for="@Model.AnhDaiDien" />
                        </div>
                    </div>
                    <input hidden name="chuDichVu" value="@user.Id"/>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-4">
                            <label  class="small mb-1">Tên nhà hàng</label>
                            <input  class="form-control" asp-for="@Model.TenNhaHang"/>
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1">Địa chỉ</label>
                            <input class="form-control" asp-for="@Model.DiaChi" />
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1">Giá dịch vụ</label>
                            <input class="form-control" asp-for="@Model.Gia" />
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1">Mô tả</label>
                            <textarea class="form-control" asp-for="@Model.MoTaNhaHang"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1">Chi tiết</label>
                            <textarea class="form-control" asp-for="@Model.ChiTietNhaHang"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Tạo mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loader').addClass('d-none');
        });
    </script>
}