@using ViewModel.Models;
@model List<NhaHang>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Danh sách nhà hàng";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Nhà hàng</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách nhà hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display nowrap" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ảnh</th>
                        <th>Chủ dịch vụ</th>
                        <th>Tên nhà hàng</th>
                        <th>Địa chỉ</th>
                        <th>Giá</th>
                        <th>Mô tả</th>
                        <th>Chi tiết</th>
                        <th>Đánh giá</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var restaurant in Model)
                    {
                        var temp = restaurant.TrangThai;
                        var text = temp ? "Ẩn" : "Hiện";
                        var cls = temp ? "btn btn-danger" : "btn btn-success";
                        <tr>
                            <td>@restaurant.Id</td>
                            <td><img src="@restaurant.AnhDaiDien" alt="Avatar" width="100" height="100" /></td>
                            <td>@restaurant.NguoiDung.HoTen</td>
                            <td>@restaurant.TenNhaHang</td>
                            <td>@restaurant.DiaChi</td>
                            <td>@restaurant.Gia</td>
                            <td>@restaurant.MoTaNhaHang</td>
                            <td>@restaurant.ChiTietNhaHang</td>
                            <td>@restaurant.DanhGia</td>
                            <td>
                                <a href="/admin/restaurant/toggle/@restaurant.Id" class="btn @cls">@text</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
