@using ViewModel.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý vận chuyển";
    List<VanChuyen> dtqs = (List<VanChuyen>)ViewData["deliverys"];
}
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" href="/user">Profile</a>
        <a class="nav-link" href="/tour">Quản lý tour</a>
        <a class="nav-link" href="/destination" >Quản lý điểm tham quan</a>
        <a class="nav-link" href="/restaurant">Quản lý nhà hàng</a>
        <a class="nav-link" href="/hotel">Quản lý khách sạn</a>
        <a class="nav-link active ms-0">Quản lý vận chuyển</a>
    </nav>
    <hr class="mt-0 mb-4">
    <a href="/delivery/create">
        <button type="button" class="btn btn-primary mb-3">Thêm vận chuyển</button>
    </a>
    <table id="dataTable" class="table table-bordered  dataTable">
        <thead>
            <tr class="text-center">
                <th style="text-align: center; width: 5%">Mã</th>
                <th style="text-align: center; width: 15%">Địa điểm đi</th>
                <th style="text-align: center; width: 15%">Địa điểm dừng </th>
                <th style="text-align: center; width: 15%">Giá</th>
                <th style="text-align: center; width: 10%">Tài xế</th>
                <th style="text-align: center; width: 10%">Thời gian đi</th>
                <th style="text-align: center; width: 10%">Thời gian đến</th>
                <th style="text-align: center; width: 20%">Thao tác </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var dtq in dtqs)
            {
                <tr>
                    <td class="text-center">@dtq.Id</td>
                    <td class="text-center">@dtq.DiaChiDi</td>
                    <td class="text-center">@dtq.DiaChiDung</td>
                    <td class="text-center">@dtq.Gia</td>
                    <td class="text-center">@dtq.TaiXe</td>
                    <td class="text-center">@dtq.ThoiGianBatDau.ToString()</td>
                    <td class="text-center">@dtq.ThoiGianKetThuc.ToString()</td>
                    <td class="text-center">
                        <a href="/delivery/edit/@dtq.Id" class="btn btn-success">Edit</a>
                        @*<a href="/delivery/delete/@dtq.Id" class="btn btn-danger">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>