@using ViewModel.Models;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tours = (List<Tour>)ViewData["tours"];
    var destinations = (List<DiemThamQuan>)ViewData["destinations"];
}

<section class="intro d-flex flex-column load">
    <div class="intro__bg js-intro-bg">
        <div class="over"></div>
        <div class="swiper-container js-intro-slider-bg">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-1.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-2.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-3.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-4.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-5.jpg" alt="#"></div>
        </div>
        </div>
    </div>
    <div class="intro__content d-flex flex-column justify-content-end js-intro-content">
        <div class="intro__search">
        <div class="container">
            <div class="search-hotels shadow-sm">
            <ul class="search-hotels__tabs nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tabHotel" role="tab" aria-controls="tabHotel" aria-selected="false"><span class="d-none d-md-block">Tour du lịch</span><i class="icon icon-building d-md-none mx-1 text-secondary"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabFlight" role="tab" aria-controls="tabFlight" aria-selected="true"><span class="d-none d-md-block">Điểm tham quan</span><i class="icon icon-airplane d-md-none mx-1 text-secondary"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabFlightHotel" role="tab" aria-controls="tabFlightHotel" aria-selected="true"><span class="d-none d-md-block">Nhà hàng</span><i class="icon icon-airplane d-md-none mx-1 text-secondary"></i><i class="icon icon-building d-md-none mx-1 text-secondary"></i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="tabHotel" role="tabpanel">
                    <form class="search-hotels__form" asp-action="Search" asp-controller="Tour" method="GET" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="label-text">Nhập tên tour</label>
                                <div class="d-flex">
                                    <span class="select-local d-flex p-2">
                                        <i class="icon icon-label mr-2 text-secondary"></i>
                                        <input name="key" style="width:100%"/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-12 col-xl-2 d-flex">
                                <button class="btn btn-secondary btn--round align-self-center" type="submit">Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tabFlight" role="tabpanel">
                            <form class="search-hotels__form" asp-action="Search" asp-controller="Destination"  method="GET">
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="label-text">Nhập tên điểm tham quan</label>
                                <div class="d-flex">
                                    <span class="select-local d-flex p-2">
                                        <i class="icon icon-label mr-2 text-secondary"></i>
                                                <input name="key" style="width:100%" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-12 col-xl-2 d-flex">
                                <button class="btn btn-secondary btn--round align-self-center" type="submit">Tìm kiếm
                                </button>
                            </div>
                        </div>
                </form>
                </div>
                <div class="tab-pane" id="tabFlightHotel" role="tabpanel">
                    <form class="search-hotels__form"  asp-action="Search" asp-controller="Restaurant" method="GET" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="label-text">Nhập tên nhà hàng</label>
                                <div class="d-flex">
                                    <span class="select-local d-flex p-2">
                                        <i class="icon icon-label mr-2 text-secondary"></i>
                                        <input name="key" style="width:100%" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-12 col-xl-2 d-flex">
                                <button class="btn btn-secondary btn--round align-self-center" type="submit">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="intro__hotels">
        <div class="container-fluid p-0">
            <div class="swiper-container js-intro-hotels">
            <div class="swiper-wrapper">
                @foreach(var tour in tours)
                {
                    if (!tour.TrangThai) continue;
                    <div class="swiper-slide">
                        <div class="card-intro d-block" style="background-image: url(@tour.HinhAnhTour);">
                            <div class="card-price px-2"><span class="count text-secondary">@tour.GiaTour VND</span></div>
                            <div class="card-intro__footer">
                                <h4 class="h4 f-primary">@tour.TenTour</h4>
                                <div class="card-intro__local d-flex align-items-center"><i class="icon icon-label mr-1"></i><span>@tour.TourCT.DiaDiem</span></div>
                                <div class="card-intro__rating">
                                    <select class="js-rating-stat" data-current-rating="@tour.LuotDanhGia">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-hover">
                                <h3 class="h3 text-uppercase">@tour.TenTour</h3><a class="btn btn-light btn--round card-hover__view" href="/tour/detail/@tour.Id">VIEW</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
            <div class="intro__hotels-controls">
            <button class="btn btn-primary btn-nav btn-nav--left js-prev" type="button"><i class="fa fa-angle-left"></i></button>
            <button class="btn btn-primary btn-nav btn-nav--right js-next" type="button"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        </div>
    </div>
</section>
<div class="page-content">
    <div class="container">
        <div class="row">
        <div class="col-12 text-center">
            <div class="section-header">
            <h2 class="h2">Các địa điểm tham quan du lịch</h2>
            <div class="section-header__stars mb-3"><i class="fa fa-star"></i><i class="fa fa-star center"></i><i class="fa fa-star"></i></div>
            <p class="fz-norm mb-0"><em>Sự lựa chọn tốt nhất dành cho bạn</em></p>
            </div>
        </div>
        </div>
        <div class="row">
            @foreach (var item in destinations)
            {
                if (!item.TrangThai) continue;
                <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                    <div class="card card-hotel w-100 mb-2">
                        <div class="card-hotel__img">
                            <img class="img-cover" src="@item.AnhDaiDien" alt="#" />
                        </div>
                        <div class="card-price px-2"><span class="count text-secondary">@item.Gia VND</span></div>
                        <div class="card-hotel__bottom">
                            <h4 class="h4 mb-1">@item.TenDiaDiem</h4>
                            <div class="card-hotel__local d-flex align-items-center">
                                <i class="icon icon-label text-secondary mr-1"></i>
                                <ul class="d-inline-flex flex-wrap">
                                    <li class="mr-4">@item.DiaDiem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-hover">
                            <h3 class="h3 text-uppercase">@item.TenDiaDiem</h3><a class="btn btn-light btn--round card-hover__view" href="/destination/detail/@item.Id">Chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
        <div class="col-12 text-center">
            <div class="section-header">
            <h2 class="h2">Chúng tôi cung cấp nhiều lựa chọn</h2>
            <div class="section-header__stars mb-3"><i class="fa fa-star"></i><i class="fa fa-star center"></i><i class="fa fa-star"></i></div>
            <p class="fz-norm mb-0"><em>Khám phá nhiều tính năng và lợi ích</em></p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Khách sạn được lựa chọn cẩn thận</h4>
            </div>
            <div class="card-body">
                        <p>Tất cả các khách sạn trên trang web của chúng tôi đều được kiểm tra theo nhiều tiêu chí khác nhau. Bạn có thể chắc chắn về sự lựa chọn của mình.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Mô tả chi tiết</h4>
            </div>
            <div class="card-body">
                <p>Để bạn có cái nhìn đầy đủ nhất về khách sạn, chúng tôi cố gắng thu thập những mô tả đầy đủ và chi tiết nhất.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Giá tốt nhất</h4>
            </div>
            <div class="card-body">
                <p>Chúng tôi cung cấp các khách sạn tốt nhất với giá tốt nhất. Nếu bạn thấy cùng loại phòng trong cùng ngày có giá rẻ hơn ở nơi khác, chúng tôi sẽ hoàn lại số tiền chênh lệch. </p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Booking an toàn</h4>
            </div>
            <div class="card-body">
                <p>Đặt khách sạn với chúng tôi một cách dễ dàng và an toàn. Tất cả dữ liệu trên thẻ tín dụng của bạn đều được mã hóa và bảo mật. Bạn có thể bình tĩnh cho phương tiện của bạn.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Dịch vụ tốt hơn</h4>
            </div>
            <div class="card-body">
                        <p>Các chuyên gia của chúng tôi ghé thăm nhiều khách sạn khác nhau để đích thân đánh giá chất lượng của họ và cung cấp cho bạn đánh giá chi tiết.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Câu hỏi thêm cho chúng tôi?</h4>
            </div>
            <div class="card-body">
                <p>Hãy gọi cho chúng tôi theo số 8-800-2000-6000 và chúng tôi sẽ trả lời các câu hỏi của bạn, giúp bạn tìm khách sạn và đặt phòng. Làm việc 24/7</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
</div>
