@using ViewModel.Models;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tours = (List<Tour>)ViewData["tours"];
}

<section class="intro d-flex flex-column load">
    <div class="intro__bg js-intro-bg">
        <div class="over"></div>
        <div class="swiper-container js-intro-slider-bg">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-1.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-2.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-3.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-4.jpg" alt="#"></div>
            <div class="swiper-slide"><img class="img-cover" src="/img/intro/item-5.jpg" alt="#"></div>
        </div>
        </div>
    </div>
    <div class="intro__content d-flex flex-column justify-content-end js-intro-content">
        <div class="intro__search">
        <div class="container">
            <div class="search-hotels shadow-sm">
            <ul class="search-hotels__tabs nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tabHotel" role="tab" aria-controls="tabHotel" aria-selected="false"><span class="d-none d-md-block">Khách sạn</span><i class="icon icon-building d-md-none mx-1 text-secondary"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabFlight" role="tab" aria-controls="tabFlight" aria-selected="true"><span class="d-none d-md-block">Chuyến đi</span><i class="icon icon-airplane d-md-none mx-1 text-secondary"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabFlightHotel" role="tab" aria-controls="tabFlightHotel" aria-selected="true"><span class="d-none d-md-block">Nhà hàng</span><i class="icon icon-airplane d-md-none mx-1 text-secondary"></i><i class="icon icon-building d-md-none mx-1 text-secondary"></i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="tabHotel" role="tabpanel">
                    <form class="search-hotels__form" action="#" method="GET" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="label-text">Nhập tên</label>
                                <div class="d-flex">
                                    <span class="select-local d-flex p-2">
                                        <i class="icon icon-label mr-2 text-secondary"></i>
                                        <input style="width:100%"/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-12 col-xl-2 d-flex">
                                <button class="btn btn-secondary btn--round align-self-center" type="submit">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tabFlight" role="tabpanel">
                <form class="search-hotels__form" action="#" method="POST">
                    <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="row">
                        <div class="form-group col-12 col-sm-6 border-0">
                            <label class="label-text">Điểm đi</label>
                            <div class="d-flex">
                                 <span class="select-local d-flex p-2">
                                    <i class="icon icon-label mr-2 text-secondary"></i>
                                    <input style="width:100%" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-6 border-0">
                            <label class="label-text">Điểm đến</label>
                            <div class="d-flex">
                                 <span class="select-local d-flex p-2">
                                    <i class="icon icon-label mr-2 text-secondary"></i>
                                    <input style="width:100%" />
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-sm-7 col-md-6 col-xl-4 d-flex flex-wrap justify-content-center">
                        <div class="form-group-date text-nowrap text-center">
                            <div class="d-inline-block">
                                <label class="label-text">Ngày bắt đầu</label>
                                <div class="input-date-group position-relative"><i class="mr-2 icon icon-calendar text-secondary"></i>
                                <input class="form-control js-input-date hidden " id="flyingDate1" type="text" name="departing" required="required"/>
                                <label class="form-control date" for="flyingDate1"></label>
                                </div>
                            </div><i class="bullet mx-4"></i>
                            <div class="d-inline-block">
                                <label class="label-text">Ngày kết thúc</label>
                                <div class="input-date-group position-relative"><i class="mr-2 icon icon-calendar text-secondary"></i>
                                <input class="form-control js-input-date hidden " id="flyingDateTo1" type="text" name="returning" required="required"/>
                                <label class="form-control date" for="flyingDateTo1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-3 col-xl-12 d-flex">
                        <button class="btn btn-secondary align-self-center" type="submit">Search
                        </button>
                    </div>
                    </div>
                </form>
                </div>
                <div class="tab-pane" id="tabFlightHotel" role="tabpanel">
                    <form class="search-hotels__form" action="#" method="GET" data-toggle="validator">
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-lg-12 col-xl-12">
                                <label class="label-text">Nhập tên</label>
                                <div class="d-flex">
                                    <span class="select-local d-flex p-2">
                                        <i class="icon icon-label mr-2 text-secondary"></i>
                                        <input style="width:100%" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-12 col-xl-2 d-flex">
                                <button class="btn btn-secondary btn--round align-self-center" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="intro__hotels">
        <div class="container-fluid p-0">
            <div class="swiper-container js-intro-hotels">
            <div class="swiper-wrapper">
                @foreach(var tour in tours)
                {
                    <div class="swiper-slide">
                        <div class="card-intro d-block" style="background-image: url(@tour.HinhAnhTour);">
                            <div class="card-price px-2"><span class="count text-secondary">@tour.GiaTour VND</span></div>
                            <div class="card-intro__footer">
                                <h4 class="h4 f-primary">@tour.TenTour</h4>
                                <div class="card-intro__local d-flex align-items-center"><i class="icon icon-label mr-1"></i><span>@tour.TourCT.DiaDiem</span></div>
                                <div class="card-intro__rating">
                                    <select class="js-rating-stat" data-current-rating="@tour.LuotDanhGia">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-hover">
                                <h3 class="h3 text-uppercase">@tour.TenTour</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
            <div class="intro__hotels-controls">
            <button class="btn btn-primary btn-nav btn-nav--left js-prev" type="button"><i class="fa fa-angle-left"></i></button>
            <button class="btn btn-primary btn-nav btn-nav--right js-next" type="button"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        </div>
    </div>
</section>
<div class="page-content">
    <div class="container">
        <div class="row">
        <div class="col-12 text-center">
            <div class="section-header">
            <h2 class="h2">Popular destinations around the world</h2>
            <div class="section-header__stars mb-3"><i class="fa fa-star"></i><i class="fa fa-star center"></i><i class="fa fa-star"></i></div>
            <p class="fz-norm mb-0"><em>The best choice of hotels we have</em></p>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-7.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Saint Peterburg</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Russia</li>
                        <li class="amout">1234
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Saint Peterburg</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-8.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Milan</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Italy</li>
                        <li class="amout">953
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Milan</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-9.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Barselona</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Spain</li>
                        <li class="amout">1234
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Barselona</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-10.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Rio de Janeiro</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Brazil</li>
                        <li class="amout">1976
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Rio de Janeiro</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-11.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Paris</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">England</li>
                        <li class="amout">953
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Paris</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-12.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Barselona</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">France</li>
                        <li class="amout">1976
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Barselona</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-13.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Amsterdam</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Netherlands</li>
                        <li class="amout">1976
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Amsterdam</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-14.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Berlin</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Germany</li>
                        <li class="amout">953
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Berlin</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
                <div class="card card-hotel w-100 mb-2">
                <div class="card-hotel__img"><img class="img-cover" src="img/hotels/item-15.jpg" alt="#"/>
                </div>
                <div class="card-price"><span class="mr-1">from</span><span class="count text-secondary">300$</span></div>
                <div class="card-hotel__bottom">
                    <h4 class="h4 mb-1">Budapest</h4>
                    <div class="card-hotel__local d-flex align-items-center"><i class="icon icon-label text-secondary mr-1"></i>
                    <ul class="d-inline-flex flex-wrap">
                        <li class="mr-4">Hungary</li>
                        <li class="amout">1976
                        Hotels
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card-hover">
                    <h3 class="h3 text-uppercase">Budapest</h3><a class="btn btn-light btn--round card-hover__view" href="category.html">VIEW</a>
                </div>
                </div>
            </div>
            <div class="col-12 page-section__more text-center">
                <button class="btn btn-secondary btn--round btn-load" type="button">Show more<i class="fa fa-spin"></i>
                </button>
            </div>
        </div>
        <div class="row">
        <div class="col-12 text-center">
            <div class="section-header">
            <h2 class="h2">The opportunities we provide</h2>
            <div class="section-header__stars mb-3"><i class="fa fa-star"></i><i class="fa fa-star center"></i><i class="fa fa-star"></i></div>
            <p class="fz-norm mb-0"><em>Explore the features and benefits of our service</em></p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Handpicked Hotels</h4>
            </div>
            <div class="card-body">
                <p>All hotels on our website are tested according to various criteria. You can be sure of your choice.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Detailed Descriptions</h4>
            </div>
            <div class="card-body">
                <p>In order for you to have the most complete idea about the hotel, we try to collect the most complete and detailed description.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Best Price Guarantee</h4>
            </div>
            <div class="card-body">
                <p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. </p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Secure Booking</h4>
            </div>
            <div class="card-body">
                <p>Book hotels with us easily and safely. All data on your credit card is encrypted and secure. You can be calm for your means.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Better service</h4>
            </div>
            <div class="card-body">
                <p>Our specialists visit various hotels to personally assess their quality and provide you with a detailed review.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex mb-4">
            <div class="card card-service w-100 mb-2">
            <div class="card-header">
                <h4 class="h4">Any Questions?</h4>
            </div>
            <div class="card-body">
                <p>Call us at 8-800-2000-6000 and we will answer your questions, help you find a hotel and make a reservation. Working 24/7</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
</div>
